<form (ngSubmit)="buscarListaAdvertencia()" #advertenciaForm="ngForm">
  <p-messages [(value)]="msgs"></p-messages>
  <p-fieldset legend="Dados Para Consultar  Advertencia">

      <div class="ui-g-12 ui-md-2" class="left">
          <h3>Data Inicio</h3>
          <p-calendar [showIcon]="true" required name="dataInicio" [(ngModel)]="filtroAdvertencia.dataInicio" tabindex="0" [disabledDates]="invalidDates"
              [disabledDays]="[0,6]" readonlyInput="true" dateFormat="dd/mm/yy"></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-2" class="center">
          <h3>Data Fim</h3>
          <p-calendar [showIcon]="true" required name="dataFim" [(ngModel)]="filtroAdvertencia.dataFim" tabindex="0" [disabledDates]="invalidDates"
              [disabledDays]="[0,6]" readonlyInput="true" dateFormat="dd/mm/yy"></p-calendar>
      </div>

      <br>
      
      <div>
          <button pButton type="submit" label="Consultar" style="float:left"></button>
          <button pButton type="button" (click)="modalAdvertencia('formulario')" label="Adicionar Advertencia" style="float:right" class="ui-button-warning"></button>
      </div>
  </p-fieldset>
</form>
<br>
<br>
<!--Dados de Resposta-->

<p-fieldset legend="Lista de Advertencia">
  <p-table [value]="advertenciaService.listaAdvertencia">
      <ng-template pTemplate="header">
          <tr>
              <th>Data</th>
              <th>Motivo</th>
              <th>Descrição</th>
              <th>Anexo</th>
              <th></th>
          </tr>
      </ng-template>

      <ng-template pTemplate="body" let-advertencia>
          <tr>
              <td>{{ advertencia.data | date:'dd/MM/yyyy' }}</td>
              <td>{{ advertencia.motivo }}</td>
              <td>{{ advertencia.descricao }}</td>
              <td>{{ advertencia.anexo }}</td>
              <td>
                  <button type="text" (click)="selecionarAdvertencia(advertencia); modalAdvertencia('detalhar');" pButton icon="pi pi-search"></button>
                  <button type="text" (click)="selecionarAdvertencia(advertencia);modalAdvertencia('alterar')" pButton icon="pi pi-refresh"></button>
                  <button type="text" (click)="recebeIdAdvertencia(advertencia._id);confirmaExclusaoAdvertencia()" pButton icon="pi pi-times"></button>
              </td>
          </tr>
      </ng-template>
  </p-table>


  <div *ngIf="advertenciaService?.listaAdvertencia?.length == 0">
      Nenhum registro cadastrado
  </div>

<!--   MODALS -->

  <p-dialog header="Cadastro de Advertencia" [(visible)]="formularioAdvertencia" [modal]="true" [responsive]="true" [width]="500"
      [minWidth]="600" [minY]="600" [baseZIndex]="10000">    
      <formulario-advertencia (aoSalvar)="aoSalvarFormularioAdvertencia($event)"></formulario-advertencia>    
  </p-dialog>


  <p-dialog header="Detalhar Advertencia" [(visible)]="detalharAdvertencia" [modal]="true" [responsive]="true" [width]="500"
      [minWidth]="600" [minY]="600" [baseZIndex]="10000">
          <detalhar-advertencia  [advertencia]="advertencia"></detalhar-advertencia>         
  </p-dialog>


  <p-dialog header="Alterar Advertencia" [(visible)]="alterarAdvertencia" [modal]="true" [responsive]="true" [width]="500" [minWidth]="600"
      [minY]="600" [baseZIndex]="10000">        
      <alterar-advertencia [advertencia]="advertencia" (aoAlterar)="aoAlterarAdvertencia($event)"></alterar-advertencia>        
  </p-dialog>

  <p-confirmDialog header="Exclusão de Advertencia" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>