<form [formGroup]="enqueteForm" (ngSubmit)="atualizarEnquete(enquete)">

  <div>
    <div>
      <h3>Data:</h3>
      <p-calendar id="data" [showIcon]="true" formControlName="data" [(ngModel)]="enquete.data" tabindex="0"
        [disabledDates]="invalidDates" [disabledDays]="[0]" dateFormat="dd/mm/yy" [locale]="globalService.pt"
        [monthNavigator]="true" [yearNavigator]="true" yearRange="2018:2030"></p-calendar>
    </div>
    <div>
      <p-message severity="error" text="A data deve ser informada!" *ngIf="!enqueteForm.controls['data'].valid&&enqueteForm.controls['data'].dirty"></p-message>
    </div>
  </div>

  <div>
    <div>
      <h3>Titulo</h3>
      <input id="titulo" type="text" formControlName="titulo" [(ngModel)]="enquete.titulo" minlength="5" maxlength="40"
        size="60">
    </div>
    <div>
      <p-message severity="error" text="O campo titulo deve ser informado com mais de 5 caracteres!" *ngIf="!enqueteForm.controls['titulo'].valid&&enqueteForm.controls['titulo'].dirty"></p-message>
    </div>
  </div>

  <div>
    <div>
      <h3>Assuntos</h3>
      <textarea id="assuntos" formControlName="assuntos" [(ngModel)]="enquete.assuntos" required [rows]="5" [cols]="60"
        minlength="5" maxlength="350" pInputTextarea autoResize="autoResize"></textarea>
    </div>
    <div>
      <p-message severity="error" text="O campo assuntos deve ser informado com mais de 5 caracteres!" *ngIf="!enqueteForm.controls['assuntos'].valid&&enqueteForm.controls['assuntos'].dirty"></p-message>
    </div>
  </div>

  <div>
    <button type="submit" pButton label="Salvar" [disabled]="!enqueteForm.valid"></button>
  </div>

</form>