<form [formGroup]="pautaForm" (ngSubmit)="salvarPauta(pautaForm)">

  <div>
    <div>
      <h3>Data</h3>
      <p-calendar id="data" [showIcon]="true" required tabindex="0" [disabledDates]="invalidDates" [disabledDays]="[0]"
        dateFormat="dd/mm/yy" [locale]="globalService.pt" [monthNavigator]="true" [yearNavigator]="true" yearRange="2018:2030"
        formControlName="data"></p-calendar>
    </div>
    <div>
      <p-message severity="error" text="A data deve ser informado!" *ngIf="!pautaForm.controls['data'].valid&&pautaForm.controls['data'].dirty"></p-message>
    </div>
  </div>

  <div>
    <div>
      <h3>Local</h3>
      <input id="local" type="text" formControlName="local" required minlength="5" maxlength="40" size="60">
    </div>

    <div>
      <p-message severity="error" text="O campo local deve ser informado com mais de 6 caracteres!" *ngIf="!pautaForm.controls['local'].valid&&pautaForm.controls['local'].dirty"></p-message>
    </div>
  </div>

  <div>
    <div>
      <h3>Assuntos</h3>
      <textarea id="assuntos" formControlName="assuntos" required [rows]="5" [cols]="60" minlength="5" maxlength="350"
        pInputTextarea autoResize="autoResize"></textarea>
    </div>
    <div>
      <p-message severity="error" text="O campo assuntos deve ser informado com mais de 6 caracteres!" *ngIf="!pautaForm.controls['assuntos'].valid&&pautaForm.controls['assuntos'].dirty"></p-message>
    </div>
  </div>

  <div>
    <button type="submit" pButton label="Salvar" [disabled]="!pautaForm.valid"></button>
  </div>
</form>