<form (ngSubmit)="buscarListaPauta()" #enqueteForm="ngForm">
    <p-growl [(value)]="msgs"></p-growl>
    <p-fieldset legend="Dados Para Consultar as Pautas">

        <div class="left">
            <h3>Data Inicio:</h3>
            <p-calendar [showIcon]="true" name="dataInicio" [(ngModel)]="filtroPauta.dataInicio" tabindex="0"
                [disabledDates]="invalidDates" [disabledDays]="[0]" dateFormat="dd/mm/yy" [locale]="globalService.pt"
                [maxDate]="filtroPauta.dataFim" [monthNavigator]="true" [yearNavigator]="true" yearRange="2018:2030"></p-calendar>
        </div>

        <div>
            <h3>Data Fim:</h3>
            <p-calendar [showIcon]="true" name="dataFim" [(ngModel)]="filtroPauta.dataFim" tabindex="0"
                [disabledDates]="invalidDates" [disabledDays]="[0,6]" dateFormat="dd/mm/yy" [locale]="globalService.pt"
                [minDate]="filtroPauta.dataInicio" [monthNavigator]="true" [yearNavigator]="true" yearRange="2018:2030"></p-calendar>
        </div>

        <br>

        <div>
            <button pButton type="submit" label="Consultar" style="float:left"></button>
            <button pButton type="button" (click)="modalPauta('formulario')" label="Adicionar Pauta" style="float:right"
                class="ui-button-warning"></button>
        </div>
    </p-fieldset>
</form>
<br>
<br>
<!--Dados de Resposta-->
<div [hidden]="pautaService?.listaPauta?.length == 0">
    <p-fieldset legend="Lista de Pauta">
        <p-table [value]="pautaService.listaPauta" [paginator]="true" [rows]="10">
            <ng-template pTemplate="header">
                <tr>
                    <th>Data</th>
                    <th>Local</th>
                    <th>Assuntos</th>
                    <th>Operações</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-pauta>
                <tr>
                    <td style="text-align:center">{{ pauta.data | date:'dd/MM/yyyy' }}</td>
                    <td>{{ pauta.local }}</td>
                    <td>{{ pauta.assuntos }}</td>
                    <td>
                        <div style="margin: 0 auto;">
                            <button type="text" (click)="selecionarPauta(pauta); modalPauta('detalhar');" pButton icon="pi pi-search"
                                class="espaco-btn"></button>
                            <button type="text" (click)="selecionarPauta(pauta);modalPauta('alterar')" pButton icon="pi pi-refresh"
                                class="ui-button-success espaco-btn"></button>
                            <button type="text" (click)="recebeIdPauta(pauta._id);confirmacaoExclusaoPauta()" pButton
                                icon="pi pi-times" class="ui-button-danger espaco-btn"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-fieldset>
</div>

<!--  MODALS -->

<p-dialog header="Cadastro de Pauta" [(visible)]="formularioPauta" [modal]="true" [responsive]="true" [width]="500"
    [minWidth]="600" [minY]="600" [baseZIndex]="10000">
    <formulario-pauta (aoSalvar)="aoSalvarFormularioPauta($event)"></formulario-pauta>
</p-dialog>


<p-dialog header="Detalhar Pauta" [(visible)]="detalharPauta" [modal]="true" [responsive]="true" [width]="500"
    [minWidth]="600" [minY]="600" [baseZIndex]="10000">
    <detalhar-pauta [pauta]="pauta"></detalhar-pauta>
</p-dialog>


<p-dialog header="Alterar Pauta" [(visible)]="alterarPauta" [modal]="true" [responsive]="true" [width]="500" [minWidth]="600"
    [minY]="600" [baseZIndex]="10000">
    <alterar-pauta [pauta]="pauta" (aoAlterar)="aoAlterarPauta($event)"></alterar-pauta>
</p-dialog>

<!--Nova mensagem de confirmacao-->
<p-toast position="center" key="modalConfirmacaoExclusao" (onClose)="aoConfirmarExclusaoPauta()" [modal]="true"
    [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="aoConfirmarExclusaoPauta(true)" label="Yes" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="aoConfirmarExclusaoPauta()" label="No" class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>