<form #multaForm="ngForm" (ngSubmit)="salvarMulta(multaForm)">

  <div>
    <h3>Data</h3>
    <p-calendar [showIcon]="true"  name="data" #name="ngModel" 
    required tabindex="0" [disabledDates]="invalidDates" [(ngModel)]="multa.data"
      [disabledDays]="[0,6]" readonlyInput="true" dateFormat="dd/mm/yy"></p-calendar>
  </div>

  <div>
    <h3>Motivo</h3>
    <input id="motivo" type="text" class="form-control" name="motivo" #name="ngModel"
     [(ngModel)]="multa.motivo" required  minlength="5"
      maxlength="40" size="60">
  </div>

  <div>
    <h3>Descrição</h3>
    <textarea class="form-control" name="descricao" #name="ngModel"
    [(ngModel)]="multa.descricao"
       required [rows]="5" [cols]="60" maxlength="350"
      pInputTextarea autoResize="autoResize"></textarea>
  </div>

  <div>
    <h3>Valores</h3>
    <input id="valores" type="text" class="form-control" name="valores" #name="ngModel"
     [(ngModel)]="multa.valores" required  minlength="5"
      maxlength="40" size="60">
  </div>

  <div class="form-group">
    <button type="submit" pButton label="Salvar"></button>    
  </div>
</form>