
<form (ngSubmit)="buscarListaComunicado()" #comunicadoForm="ngForm">    
    <p-growl [(value)]="msgs"></p-growl>
    <p-fieldset legend="Dados Para Consultar os Comunicados">

        <div class="left">
            <h3>Data Inicio</h3>
            <p-calendar [showIcon]="true"  name="dataInicio" [(ngModel)]="filtroComunicado.dataInicio" tabindex="0"
                [disabledDays]="[0,6]"  dateFormat="dd/mm/yy" [locale]="globalService.pt" ></p-calendar>
        </div>

        <div class="center">
            <h3>Data Fim</h3>
            <p-calendar [showIcon]="true"  name="dataFim" [(ngModel)]="filtroComunicado.dataFim" tabindex="0" 
                [disabledDays]="[0,6]" dateFormat="dd/mm/yy" [locale]="globalService.pt"></p-calendar>
        </div>

        <br>
        
        <div>
            <button pButton type="submit" label="Consultar" style="float:left"></button>
            <button pButton type="button" (click)="modalComunicado('formulario')" label="Adicionar Comunicado" style="float:right" class="ui-button-warning"></button>
        </div>
    </p-fieldset>
</form>
<br>
<br>

<!--Dados de Resposta-->
<div [hidden]="comunicadoService?.listaComunicado?.length == 0">
<p-fieldset legend="Lista de Comunicado">
    <p-table [value]="comunicadoService.listaComunicado">
        <ng-template pTemplate="header">
            <tr>
                <th>Data</th>
                <th>Titulo</th>
                <th>Descrição</th>
                <th>Pauta</th>
                <th>Operações</th>
            </tr>
        </ng-template>        
        <ng-template pTemplate="body" let-comunicado>
            <tr>
                <td style="text-align:center">{{ comunicado.data | date:'dd/MM/yyyy' }}</td>
                <td>{{ comunicado.titulo }}</td>
                <td>{{ comunicado.descricao }}</td>
                <td>{{ comunicado.pauta }}</td>
                <td>
                    <div style="margin: 0 auto;">
                    <button type="text" (click)="selecionarComunicado(comunicado); modalComunicado('detalhar');" pButton icon="pi pi-search" class="espaco-btn"></button>
                    <button type="text" (click)="selecionarComunicado(comunicado);modalComunicado('alterar')" pButton icon="pi pi-refresh" class="ui-button-success espaco-btn"></button>
                    <button type="text" (click)="recebeIdComunicado(comunicado._id);confirmacaoExclusaoComunicado()" pButton icon="pi pi-times" class="ui-button-danger espaco-btn"></button>
                </div>    
                </td>                
            </tr>            
        </ng-template>                
    </p-table>
</p-fieldset>
</div>

<!--   MODALS -->

    <p-dialog header="Cadastro de Comunicado" [(visible)]="formularioComunicado" [modal]="true" [responsive]="true" [width]="500"
        [minWidth]="600" [minY]="600" [baseZIndex]="10000">    
        <formulario-comunicado (aoSalvar)="aoSalvarFormularioComunicado($event)"></formulario-comunicado>    
    </p-dialog>


    <p-dialog header="Detalhar Comunicado" [(visible)]="detalharComunicado" [modal]="true" [responsive]="true" [width]="500"
        [minWidth]="600" [minY]="600" [baseZIndex]="10000">
            <detalhar-comunicado  [comunicado]="comunicado"></detalhar-comunicado>         
    </p-dialog>


    <p-dialog header="Alterar Comunicado" [(visible)]="alterarComunicado" [modal]="true" [responsive]="true" [width]="500" [minWidth]="600"
        [minY]="600" [baseZIndex]="10000">        
        <alterar-comunicado [comunicado]="comunicado" (aoAlterar)="aoAlterarComunicado($event)"></alterar-comunicado>        
    </p-dialog>

    <!-- Antiga mensagem de confirmacao-->
    <p-confirmDialog header="Exclusão de Comunicado" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>
    
    <!--Nova mensagem de confirmacao-->
    <p-toast position="center" key="modalConfirmacaoExclusao" (onClose)="aoConfirmarExclusaoComunicado()" [modal]="true" [baseZIndex]="5000">
            <ng-template let-message pTemplate="message">
                <div style="text-align: center">
                    <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
                    <h3>{{message.summary}}</h3>
                    <p>{{message.detail}}</p>
                </div>
                <div class="ui-g ui-fluid">
                    <div class="ui-g-6">
                        <button type="button" pButton (click)="aoConfirmarExclusaoComunicado(true)" label="Yes" class="ui-button-success"></button>
                    </div>
                    <div class="ui-g-6">
                        <button type="button" pButton (click)="aoConfirmarExclusaoComunicado()" label="No" class="ui-button-secondary"></button>
                    </div>
                </div>
            </ng-template>
        </p-toast>