<form #comunicadoForm="ngForm">

    <div>
      <h3>Data</h3>
      <p-calendar [showIcon]="true" [(ngModel)]="comunicado.data" name="data" required tabindex="0" [disabled]="true" [disabledDates]="invalidDates"
        [disabledDays]="[0,6]" readonlyInput="true" dateFormat="dd/mm/yy"></p-calendar>
    </div>
  
  
    <div>
      <h3>Titulo</h3>
      <input id="titulo" type="text" class="form-control" [(ngModel)]="comunicado.titulo" [disabled]="true" name="titulo" maxlength="40" size="60">
    </div>
  
    <div>
      <h3>Descrição</h3>
      <textarea class="form-control" [(ngModel)]="comunicado.descricao" name="Descricao" required [disabled]="true" [rows]="5"
        [cols]="60" maxlength="350" pInputTextarea autoResize="autoResize"></textarea>
    </div>
  
    <div>
      <h3>Pauta</h3>
      <textarea class="form-control" [(ngModel)]="comunicado.pauta" name="pauta" required [disabled]="true" [rows]="5" [cols]="60"
        maxlength="350" pInputTextarea autoResize="autoResize"></textarea>
    </div>
    
  </form>