<form (ngSubmit)="buscarListaEnquete()" #enqueteForm="ngForm">
        <p-growl [(value)]="msgs"></p-growl>
    <p-fieldset legend="Dados Para Consultar as Enquetes">

        <div class="left">
            <h3>Data Inicio:</h3>
            <p-calendar [showIcon]="true" name="dataInicio" [(ngModel)]="filtroEnquete.dataInicio" tabindex="0" [disabledDates]="invalidDates"
            [disabledDays]="[0]"  dateFormat="dd/mm/yy" [locale]="globalService.pt"  [maxDate]="filtroEnquete.dataFim"  [monthNavigator]="true" [yearNavigator]="true" yearRange="2018:2030" ></p-calendar>
        </div>

        <div>
            <h3>Data Fim:</h3>
            <p-calendar [showIcon]="true" name="dataFim" [(ngModel)]="filtroEnquete.dataFim" tabindex="0" [disabledDates]="invalidDates"
            [disabledDays]="[0,6]" dateFormat="dd/mm/yy" [locale]="globalService.pt" [minDate]="filtroEnquete.dataInicio"  [monthNavigator]="true" [yearNavigator]="true" yearRange="2018:2030"></p-calendar>
        </div>

        <br>
        
        <div>
            <button pButton type="submit" label="Consultar" style="float:left"></button>
            <button pButton type="button" (click)="modalEnquete('formulario')" label="Adicionar Enquete" style="float:right" class="ui-button-warning"></button>
        </div>
    </p-fieldset>
</form>
<br>
<br>
<!--Dados de Resposta-->

<div [hidden]="enqueteService?.listaEnquete?.length == 0">
<p-fieldset legend="Lista de Enquete">
    <p-table [value]="enqueteService.listaEnquete" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header">
            <tr>
                <th>Data</th>
                <th>Titulo</th>                
                <th>Assuntos</th>
                <th>Operações</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-enquete>
            <tr>
                <td style="text-align:center">{{ enquete.data | date:'dd/MM/yyyy' }}</td>
                <td>{{ enquete.titulo }}</td>
                <td>{{ enquete.assuntos }}</td>                
                <td>
                    <div style="margin: 0 auto;">
                        <button type="text" (click)="selecionarEnquete(enquete); modalEnquete('detalhar');" pButton icon="pi pi-search" class="espaco-btn"></button>
                        <button type="text" (click)="selecionarEnquete(enquete);modalEnquete('alterar')" pButton icon="pi pi-refresh" class="ui-button-success espaco-btn"></button>
                        <button type="text" (click)="recebeIdEnquete(enquete._id);confirmacaoExclusaoEnquete()" pButton icon="pi pi-times" class="ui-button-danger espaco-btn"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-fieldset>
</div>

<!--   MODALS -->

<p-dialog header="Cadastro de Enquete" [(visible)]="formularioEnquete" [modal]="true" [responsive]="true" [width]="500"
[minWidth]="600" [minY]="600" [baseZIndex]="10000">    
<formulario-enquete (aoSalvar)="aoSalvarFormularioEnquete($event)"></formulario-enquete>    
</p-dialog>


 <p-dialog header="Detalhar Enquete" [(visible)]="detalharEnquete" [modal]="true" [responsive]="true" [width]="500"
 [minWidth]="600" [minY]="600" [baseZIndex]="10000">
     <detalhar-enquete  [enquete]="enquete"></detalhar-enquete>         
</p-dialog>


<p-dialog header="Alterar Enquete" [(visible)]="alterarEnquete" [modal]="true" [responsive]="true" [width]="500" [minWidth]="600"
[minY]="600" [baseZIndex]="10000">        
<alterar-enquete [enquete]="enquete" (aoAlterar)="aoAlterarEnquete($event)"></alterar-enquete>        
</p-dialog>

    <!--Nova mensagem de confirmacao-->
    <p-toast position="center" key="modalConfirmacaoExclusao" (onClose)="aoConfirmarExclusaoComunicado()" [modal]="true" [baseZIndex]="5000">
        <ng-template let-message pTemplate="message">
            <div style="text-align: center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
                <h3>{{message.summary}}</h3>
                <p>{{message.detail}}</p>
            </div>
            <div class="ui-g ui-fluid">
                <div class="ui-g-6">
                    <button type="button" pButton (click)="aoConfirmarExclusaoEnquete(true)" label="Yes" class="ui-button-success"></button>
                </div>
                <div class="ui-g-6">
                    <button type="button" pButton (click)="aoConfirmarExclusaoEnquete()" label="No" class="ui-button-secondary"></button>
                </div>
            </div>
        </ng-template>
    </p-toast>