<form #lazerForm="ngForm" (ngSubmit)="salvarLazer(lazerForm)">
    <!-- <input type="hidden" name="_id"  [(ngModel)]="lazerService.selecionaLazer._id"> -->
    <div>
        <h3>Local</h3>
        <input type="text" name="local"  [(ngModel)]="lazerService.selecionaLazer.local" placeholder="Digite seu local">
    </div>

    <div>
        <h3>Data</h3>
        <input type="text" name="data" [(ngModel)]="lazerService.selecionaLazer.data" placeholder="Digite seu data">
    </div>

    <!-- <div>
        <h3>Data</h3>
        <p-calendar [showIcon]="true" name="data" required tabindex="0" [disabledDates]="invalidDates" [(ngModel)]="lazerService.selecionaLazer.data"
            [disabledDays]="[0,6]" readonlyInput="true" dateFormat="dd/mm/yy"></p-calendar>
    </div> -->

    <div>
        <h3>Descricao</h3>
        <input type="text" name="descricao" [(ngModel)]="lazerService.selecionaLazer.descricao" placeholder="Digite seu descricao">
    </div>

    <div>
        <button  pButton label="Salvar"></button>
        <button  pButton label="Limpar" (click)="resetForm(lazerForm)"></button>
    </div>

</form>