<form (ngSubmit)="atualizarComunicado(comunicado)" #comunicadoForm="ngForm">
    
    <div>
      <h3>Data e Hora</h3>
      <p-calendar [showIcon]="true" [(ngModel)]="comunicado.data" name="data" tabindex="0" [disabledDates]="invalidDates"
      [disabledDays]="[0]"  dateFormat="dd/mm/yy" [locale]="globalService.pt" [monthNavigator]="true" [yearNavigator]="true" yearRange="2018:2030" [showTime]="true" ></p-calendar>
    </div>
  
    <div>
      <h3>Titulo</h3>
      <input id="titulo" type="text" class="form-control" [(ngModel)]="comunicado.titulo" name="titulo" maxlength="40" size="60">
    </div>
  
    <div>
      <h3>Descrição</h3>
      <textarea class="form-control" [(ngModel)]="comunicado.descricao" name="Descricao" required [rows]="5" [cols]="60" maxlength="350"
        pInputTextarea autoResize="autoResize"></textarea>
    </div>
  
    <div>
      <h3>Pauta</h3>
      <textarea class="form-control" [(ngModel)]="comunicado.pauta" name="pauta" required [rows]="5" [cols]="60" maxlength="350"
        pInputTextarea autoResize="autoResize"></textarea>
    </div>
  
    <div class="form-group">
      <button type="submit" pButton label="Salvar" [disabled]="!comunicadoForm.form.valid"></button>
    </div>
    
  </form>