<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pagina incial</title>
</head>

<body id="pagina">

    <section id="main">
        <header class="header">
            Topo
        </header>
        
        <aside class="aside">
            <div class="conteudo">
                <p-card>
                    <router-outlet></router-outlet>
                </p-card>
            </div>
        </aside>
        <div class="div" *ngIf="mostrarMenu">
            <div class="perfil" >
                <img src="./../assets/imagem/SemFoto.png" style="width: 35%;"/>
            </div>

            <label for="">Menu</label>
            <p-panelMenu [model]="items" [style]="{'width':'240px;'}" class="menu"></p-panelMenu>
        </div>
        <footer class="footer">
            Rodape
        </footer>
    </section>

</body>

</html><!-- *ngIf="mostrarMenu" -->