<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pagina incial</title>
</head>

<body>
    <section id="main">
        <header class="header">
            Topo
        </header>
        <div class="perfil">
            Perfil
        </div>
        <aside class="aside">
            <p-card>
                <router-outlet></router-outlet>
            </p-card>
        </aside>
        <div class="div">
            <p-panelMenu [model]="items" [style]="{'width':'240px'}"></p-panelMenu>
        </div>
        <footer class="footer">
            Rodape
        </footer>
    </section>

</body>

</html>