#main{
    min-height: 100%;
    display: grid;
    
    grid-template-columns: 250px;
    grid-template-rows: 15vh 1fr auto;
    grid-template-areas: 
    "div header header header"
    "div aside aside aside"
    "footer footer footer footer"
}
.perfil{
    grid-area: perfil;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 20%;
    margin-top: 20%;
}
.header{
    grid-area: header;

}
.aside{
    grid-area: aside;
}
.div{
    grid-area: div;
    background-color: transparent !important;
    background-color: whitesmoke;
    border-right: 2px groove;
    border-top-right-radius: 20px;
}
.footer{
    text-align: center;
    grid-area: footer;
   
    height: 40px;
   
}
.conteudo{
    padding-top: 6%;
}

#pagina{
   /*
    background-color: #00897b ;
    background-image: linear-gradient( to bottom, #00897b , #f9fbe7 , #f1f8e9     , #c8e6c9   );    */
    background-color: #26333b   ;
    background-image: linear-gradient( to bottom, #26333b, #00838f   , #b2dfdb  , #fafafa, #ffffff); 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

/*  Atualização do CSS do P-CARD  */
.ui-card.ui-widget.ui-widget-content.ui-corner-all {/*
    background-color: #e1f5fe ;
    background-image: linear-gradient( to right, #e1f5fe  , #fafafa, #e1f5fe);
    margin-right: 1%;
    padding-top: 5%;
    padding-bottom: 3%;
    */
    margin-right: 0.5%;
    margin-left: 0.5%;
    border: transparent;
}
/* FIM DO CSS do P-CARD  */

/* Atualização do CSS do Menu   */
.ui-panelmenu .ui-panelmenu-header {
    background-color: transparent;
    border-left: none;
    border-right: none;
}
.ui-panelmenu .ui-panelmenu-content {
    background-color: transparent;
    border-left: none;
    border-right: none;
}
/*  FIM DO CSS do MENU  */

/*

#26333b

*/

/*  alteraçoes da tabela  */
.ui-table .ui-table-tbody > tr {
    text-align: center;
}

.espaco-btn{
    margin: 5px;;
}

.ui-table .ui-table-thead > tr > th{
    background-color: #909bad;
}

/* fim  alteraçoes da tabela  */