#main{
    min-height: 100%;
    display: grid;
    
    grid-template-columns: 250px;
    grid-template-rows: 15vh 1fr auto;
    grid-template-areas: 
    "perfil header header header"
    "div aside aside aside"
    "footer footer footer footer"
}
.perfil{
    grid-area: perfil;
    background-color: #e1f5fe;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 1%;
}
.header{
    grid-area: header;

}
.aside{
    grid-area: aside;
}
.div{
    grid-area: div;
    background-color: transparent !important;
    background-color: whitesmoke;border-right: 2px groove;
    border-top-right-radius: 20px;
}
.footer{
    text-align: center;
    grid-area: footer;
   
    height: 40px;
   
}
#conteudo {/*
    background-color: #e1f5fe ;
    background-image: linear-gradient( to right, #e1f5fe  , #fafafa, #e1f5fe);
    margin-right: 1%;
    padding-top: 5%;
    padding-bottom: 3%;
    */
    width: 90%;
    padding-left: 2%;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
#pagina{
    background-color: #00897b ;
    background-image: linear-gradient( to bottom, #00897b , #4db6ac, #b2dfdb    , #eceff1  );
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}